services:
  mariadb:
    container_name: mariadb
    environment:
      - ./.env
      - MARIADB_DATABASE
      - MARIADB_HOST
      - MARIADB_ROOT_PASSWORD
      - MARIADB_PASSWORD
      - MARIADB_USER
      - MARIADB_PORT
    build:
      context: ./requirements/mariadb
      dockerfile: Dockerfile
    volumes:
      - db-volume:/var/lib/mysql
    networks:
      - inception
    init: true
    restart: on-failure

  wordpress:
    container_name: wordpress
    environment:
      - ./.env
      - WORDPRESS_DB_USER
      - WORDPRESS_DB_PASSWORD
      - WORDPRESS_DB_NAME
      - WP_ADMIN_USR
      - WP_ADMIN_PWD
      - MARIADB_PASSWORD
      - MARIADB_USER
      - MARIADB_DATABASE
      - MARIADB_HOST
    build:
      context: ./requirements/wordpress
      dockerfile: Dockerfile
    volumes:
      - wordpress-volume:/var/www/html
      - db-volume:/var/lib/mysql
    depends_on:
      - mariadb
    networks:
      - inception
    init: true
    restart: on-failure

  nginx:
    container_name: nginx
    env_file:
      - ./.env
    build:
      context: ./requirements/nginx/
      dockerfile: Dockerfile
    volumes:
      - wordpress-volume:/var/www/html
    depends_on:
      - mariadb
      - wordpress
    networks:
      - inception
    init: true
    restart: on-failure

  redis:
    container_name: redis
    env_file:
      - ./.env
    build:
      context: ./requirements/redis
      dockerfile: Dockerfile
    depends_on:
      - mariadb
      - wordpress
      - nginx
    command: >
      redis-server /home/redis.conf
      --port 6379
      --requirepass deK6!cD~^BZwN6K=9C9~
    networks:
      - inception
    restart: on-failure

# For external volumes, you specify the host machine path when you create the volume 
# using docker volume create, not in the docker-compose.yml file itself.
#
# docker volume create --driver local \
#     --opt type=none \
#     --opt device=/path/on/your/host \
#     --opt o=bind \
#     my-external-volume

volumes:
  db-volume:
    name: db-volume
    external: true
  wordpress-volume:
    name: wordpress-volume
    external: true

networks:
  inception:
    name: inception
    driver: bridge
