services:
  mariadb:
    container_name: mariadb
    environment:
      - ./.env
      - MYSQL_DATABASE
      - MYSQL_HOST
      - MYSQL_ROOT_PASSWORD
      - MYSQL_PASSWORD
      - MYSQL_USER
      - MYSQL_PORT
    build:
      context: ./requirements/mariadb
      dockerfile: Dockerfile
    volumes:
      - db-volume:/var/lib/mysql
    networks:
      - inception
    init: true
    restart: on-failure

  wordpress:
    container_name: wordpress
    environment:
      - ./.env
      - WORDPRESS_DB_USER
      - WORDPRESS_DB_PASSWORD
      - WORDPRESS_DB_NAME
      - WP_ADMIN_USR
      - WP_ADMIN_PWD
      - MYSQL_PASSWORD
      - MYSQL_USER
      - MYSQL_DATABASE
      - MYSQL_HOST
    build:
      context: ./requirements/wordpress
      dockerfile: Dockerfile
    volumes:
      - wordpress-volume:/var/www/html
      - db-volume:/var/lib/mysql
    depends_on:
      - mariadb
    networks:
      - inception
    init: true
    restart: on-failure

  nginx:
    container_name: nginx
    environment:
      - ./.env
      - DOMAIN
      - CERTIFICATES
    build:
      context: ./requirements/nginx/
      dockerfile: Dockerfile
    volumes:
      - wordpress-volume:/var/www/html
    ports:
     - 443:443
    depends_on:
      - mariadb
      - wordpress
    networks:
      - inception
    init: true
    restart: on-failure

volumes:
  db-volume:
    name: db-volume
    external: true
  wordpress-volume:
    name: wordpress-volume
    external: true

networks:
  inception:
    name: inception
    driver: bridge
